/* main.css */

html, body, h1, h2, h3, h4, p, div, ul, ol, li {
	padding: 0;
	border: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
}
h1 {
	font-family: "Helvetica Neue", Helvetica, serif;
	font-size: 70px;
	font-weight: bold;
	text-align: center;
}
h2 {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 30px;
	font-weight: normal;
	text-align: center;
	color: #000000;
}
h3 {
	font-family: Cardo, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 28px;
	font-weight: normal;
	text-align: center;
	border-bottom: 1px solid #555555;
	margin: 20px 0 20px 0;
}
h4 {
	text-align: center;
}
h5 {
	text-align: center;
}
h6 {
	text-align: center;
}
p {
	font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
	text-align: center;
}
a {
	font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}
a:hover {
	color: #aa0000;
	text-decoration: underline;
}
figure {
	text-align: center;
}
details {
	text-align: center;
}
pre {
	text-align: center;
}
ol , ul , dl {
	text-align: center;
}
table {
	margin: 0 auto 0 auto;
}
audio, video, iframe {
	display: table;
	margin: 0 auto 0 auto;
}
iframe {
	margin: 0 auto 0 auto;
}
.text-center {
	text-align: center;
}
.center{
	margin: 0 auto 0 auto;
	display: table;
}
.float-left {
	float:left;
}
.color {
	width: 100px;
	height: 80px;
}
.one {
	background: #FFBC10;
}
.two {
	background: #E88B0C;
}
.three {
	background: #FF5F00;
}
.four {
	background: #E8310C;
}
.five {
	background: #FF0D2B;
}